/*  November, 2012
    Kevin Marsh */
body {
    margin: 0;
    padding: 0;
    background-color: #D3D3D3; /*LightGrey*/
    color: #222;
}
header {
    text-align: center;
    padding: 40px 0;
    margin: 20px 0;
    color: rgb(220, 220, 220);
    background: #222 url('../img/micro_carbon.png') repeat top left;
}
header h1 {
    font-family: "Changa One", Cambria, Georgia, Times, Times New Roman, serif;
    font-size: 60px;
    margin: 30px 0;
}
a,
a:visited,
span.link,
span.about,
span.code,
span.projects,
span.contact {
    color: #222;
    text-decoration: none;
    border-bottom: dotted 1px;
    cursor: pointer;
}
.bold {
    font-weight: bold;
}
.contentTitles *,
.contentBody *,
nav * {
    -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
       -moz-transition: all 0.3s ease-out;  /* FF4+ */
        -ms-transition: all 0.3s ease-out;  /* IE10 */
         -o-transition: all 0.3s ease-out;  /* Opera 10.5+ */
            transition: all 0.3s ease-out;
}

/* CONTENT TITLES
------------------------------------------------------------------------------*/
.contentTitles {
    text-align: center;
}
.contentTitles div {
    position: relative;
    display: inline-block;
    height: 100px;
    width: 100px;
    padding: 6px;
    margin: 0 12px;
    color: #222;
    border-radius: 4px;
    cursor: pointer;
    opacity: 0.5;
}
.contentTitles div img {
    height: 50px;
    width: 50px;
    border: none;
}
.contentTitles.selected div img {
    height: 32px;
    width: 32px;
    border: none;
}
.contentTitles div:hover {
    opacity: 0.8;
}
.contentTitles.selected div {
    height: 60px;
    width: 60px;
}
.contentTitles.selected div p {
    opacity: 0;
}
.contentTitles div.selected {
    opacity: 1;
}

/* CONTENT BODY
------------------------------------------------------------------------------*/
.contentBody {
    width: 600px;
    margin: 0 auto;
    background: rgb(240, 240, 240);
    border-radius: 4px;
}
.contentBody div {
    padding: 12px;
}

/* FOOTER
------------------------------------------------------------------------------*/
footer {
    opacity: 0.4;
    text-align: center;
    font-size: 8pt;
    margin: 20px auto 4px;
}
footer:hover {
    opacity: 0.8;
}
footer a,
footer a:visited {
    text-decoration: none;
    border: none;
}
footer img {
    height: 8pt;
    vertical-align: middle;
}
