/* Kevin Marsh - Feb, 2014 */

////////////////////////////////////////////////////////////////////////////////
// VARIABLES, PLACEHOLDERS and MIXINS
////////////////////////////////////////////////////////////////////////////////
$color-base: #c8c8c8;                           // Grey
$color-base-lighter: lighten($color-base, 10%); // LightGrey
$color-base-darker: darken($color-base, 70%);   // DarkGrey
$color-highlight: #57b641;                                  // Green
$color-highlight-lighter: lighten($color-highlight, 10%);   // LightGreen
$color-highlight-darker: darken($color-highlight, 70%);     // DarkGreen
$base-margin: 0.5rem;

// http://colourco.de/monochrome-light/5/%23a6dd99
// $color1: #57b641;
// $color2: #75c861;
// $color3: #96d686;
// $color4: #c8c8c8;
// $color5: #e1e1e1;

%clearFix:before {
    content: '';
    display: table;
    clear: both;
}
%noSpace {
    margin: 0;
    padding: 0;
}
%displayInline { // Hack for IE
    display: inline-block;
    *display: inline;
    zoom: 1;
}

@mixin opacity($trans) {
    filter: alpha(opacity=($trans * 100)); // IE 5-7
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($trans * 100) + ")"; // IE 8
    -moz-opacity: $trans;
    opacity: $trans;
}
@mixin outline($color) {
    outline: 1px dotted $color;
}


// Apply a natural box layout model to all elements (http://www.paulirish.com/2012/box-sizing-border-box-ftw/)
*, *:before, *:after {
        -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    @extend %noSpace;
    font-size: 16px;
    background-color: $color-base;
    color: $color-base-darker;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
}


////////////////////////////////////////////////////////////////////////////////
// _LAYOUT
////////////////////////////////////////////////////////////////////////////////
.bodywrapper {
    min-width: 200px;
    max-width: 960px;
    margin: 0 auto;
}
.left, .right {
    padding: $base-margin;
}
.left {
    width: 12.5rem;
    position: fixed;
    @include outline(red);
}
.right {
    float: right;
    margin-left: 12.5rem;
    @include outline(green);
    overflow:hidden;
}


////////////////////////////////////////////////////////////////////////////////
// _LEFT
////////////////////////////////////////////////////////////////////////////////
header {
    text-align: center;
    h1 {
        margin: 1rem 0;
        line-height: 1;
        font: {
            family: 'Lobster', Georgia, Times, serif;
            size: 3em;
        }
    }
    p {
        font-size: 1.5em;
    }
}

nav {
    ul {
        @extend %noSpace;
        list-style-type: none;
    }
    li {
        // @include opacity(0.5);
        padding: $base-margin;
        cursor: pointer;
        &:hover {
            background-color: $color-highlight-lighter;
            // @include opacity(0.8);
        }
        &.selected {
            background-color: $color-highlight;
            @include opacity(1);
        }
        span {
        }
        img {
            height: 2em;
            vertical-align: middle;
            padding-right: 0.5rem;
            border: none;
        }
    }
}

////////////////////////////////////////////////////////////////////////////////
// _RIGHT
////////////////////////////////////////////////////////////////////////////////
.right section {
    margin: 2rem 0 6rem 0;
}




////////////////////////////////////////////////////////////////////////////////
// _TODO
////////////////////////////////////////////////////////////////////////////////

a,
a:visited,
span.link {
    text-decoration: none;
    border-bottom: dotted 1px;
    color: $color-base-darker;
    cursor: pointer;
}
a img,
img {
    border: none;
}
.bold {
    font-weight: bold;
}
.contentBody *,
nav * {
    -webkit-transition: all 0.3s ease-out;  // Saf3.2+, Chrome
       -moz-transition: all 0.3s ease-out;  // FF4+
        -ms-transition: all 0.3s ease-out;  // IE10
         -o-transition: all 0.3s ease-out;  // Opera 10.5+
            transition: all 0.3s ease-out;
}





/* CONTENT SECTIONS
------------------------------------------------------------------------------*/
.contentBody {
    min-width: 200px;
    max-width: 600px;
    margin: 20px auto 30px;
    background: $color-base-lighter;
    border-radius: 4px;
    h2 {
        font-family: 'Lobster', Georgia, Times, serif;
    }
    section {
        padding: 12px;
    }
}

/* GITHUB FEED
------------------------------------------------------------------------------*/
#gitFeed {
    ul {
        list-style: none;
        padding: 0;
        li {
            min-height: 40px;
            padding: 2px 2px 2px 64px;
            margin: 2px 0;
            border: 1px solid $color-base-darker;
            border-radius: 2px;
            background-color: rgb(255, 255, 255);
            background: rgba(255, 255, 255, 0.6) no-repeat 8px center;
            background-size: 40px 40px;
            cursor: default;
            font-size: 14px;
            line-height: 1.4;
            &[url] {
                cursor: pointer;
            }
            &:hover {
                background-color: rgb(255, 246, 152); /*LightYellow*/
                background-size: 45px 45px;
            }
            &.PushEvent {
                background-image: url('../img/git-push.png');
            }
            &.ForkEvent,
            &.ForkApplyEvent {
                background-image: url('../img/git-fork.png');
            }
            &.CreateEvent {
                background-image: url('../img/git-create.png');
            }
            &.DeleteEvent {
                background-image: url('../img/git-delete.png');
            }
            &.IssueCommentEvent,
            &.CommitCommentEvent,
            &.PullRequestReviewCommentEvent {
                background-image: url('../img/git-comment.png');
            }
            &.DownloadEvent,
            &.PullRequestEvent {
                background-image: url('../img/git-pull.png');
            }
            &.WatchEvent {
                background-image: url('../img/git-watch.png');
            }
            &.FollowEvent,
            &.MemberEvent,
            &.PublicEvent,
            &.TeamAddEvent {
                background-image: url('../img/git-user.png');
            }
            &.GistEvent,
            &.GollumEvent,
            &.IssuesEvent {
                background-image: url('../img/git-alert.png');
            }
        }
    }
    button {
        display: block;
        margin: 0 auto;
        padding: 4px 10px;
        border-radius: 6px;
        border-color: $color-base;
        background: $color-base-darker;
        color: $color-base-lighter;
        font-weight: bold;
        cursor: pointer;
        &#allGit {
            display: none;
        }
    }
}
.ghType {
    @extend %displayInline;
    width: 90px;
}
.ghDate {
    float: right;
}
.ghMsg {
    @extend %clearFix;
    display: block;
}


/* FOOTER
------------------------------------------------------------------------------*/
footer {
    position: fixed;
    bottom: 3px;
    margin-top: 3px;
    width: 100%;
    @include opacity(0.4);
    text-align: center;
    font-size: 8pt;
    z-index: -10;
    &:hover {
        @include opacity(0.8);
    }
    a,
    a:visited {
        text-decoration: none;
        border: none;
    }
    img {
        height: 8pt;
        vertical-align: middle;
    }
}

/* ICON ATTRIBUTION
------------------------------------------------------------------------------*/
.icons {
    ul {
        list-style: none;
        li {
            padding: 12px 0;
            img {
                height: 32px;
                padding-right: 20px;
                vertical-align: middle;
            }
        }
    }
}
.icon span {
    cursor: pointer;
}
